@import "./custom_colors";

.home {
  background: linear-gradient(90deg, #67B26F 0%, #4ca2cd 75%);
}

.testmonial-user-p {
  color: #4a4a4a;
  font-weight: bold;
}

.p-styles {
  text-shadow: 1px 2px 2px #7e83d6;
}
